body {
    background-color: rgb(87, 87, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.heading {
    text-align: center;
    font-family: monospace;
}