body {
    background-color: hotpink;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: right;
}
